article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Special Elite', Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  background-color: #a5e5e7; }

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%; }

ul {
  margin-top: 20px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  ul li {
    list-style: none; }
    ul li:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    ul li a {
      color: #ff0;
      font-size: 30px;
      margin: 10px; }
      ul li a:hover {
        color: #eb6e80; }

h1 {
  font-family: "Special Elite";
  color: #ff0;
  font-size: 40px;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 25px 0; }

.mainHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.socialMedia {
  position: absolute;
  top: 20px;
  right: 0; }

.headerContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh; }

header {
  height: 100vh; }
  header button {
    color: #fff;
    background-color: #eb6e80;
    padding: 10px 30px;
    text-transform: uppercase;
    border-style: none;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: 1s ease-in all;
    -o-transition: 1s ease-in all;
    transition: 1s ease-in all;
    border-radius: 3px; }
    header button:hover {
      color: #ff0;
      -webkit-box-shadow: 3px 3px 10px #ff0;
      box-shadow: 3px 3px 10px #ff0; }

.userInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 25px auto; }

input[type="text"] {
  max-width: 50%; }

.authorTitle {
  width: 100%; }
  .authorTitle h2 {
    text-align: center;
    margin: 0;
    padding-top: 50px; }

.meme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.memeContainer {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red; }
  .memeContainer .quoteUser {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10; }

.memeContainer2 {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden; }
  .memeContainer2 .quoteAPI {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 10; }

.memeContainer img,
.memeContainer2 img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.hidden {
  display: none; }

.attribution {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .attribution .userName, .attribution .quoteAuthor {
    max-width: calc(50% - 30px);
    margin: 100px 15px; }

/* MEDIA QUERIES */
/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .meme {
    padding: 25px; } }

@media (max-width: 550px) {
  .meme {
    width: 400px;
    height: 400px;
    margin: 0 auto; } }

/* Portrait phones and down */
@media (max-width: 480px) {
  h2 {
    font-size: 16px; }
  .options .input,
  .options .quoteAPI {
    max-width: calc(50% - 30px);
    margin: 0 25px; } }
